/*** GLOBAL SETTINGS AND CSS ***/
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { min-height: 100%; }

body { font-family: 'Source Sans Pro', sans-serif; font-size: 1.1em; line-height: 26px; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; background: #b14c3a; color: #fff; height: 100%; position: relative; }
body.resume {background: #13672f; color: #ffffff;}
body.writings {background: #7a4916;}
body:after {content: ""; position: absolute; top: -26px; left: 0; bottom: 0; right: 0; width: 100%; z-index: 9; background-image: -moz-linear-gradient(top, transparent 95%, rgba(0, 0, 0, 0.1) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1))); background-image: -webkit-linear-gradient(top, transparent 95%, rgba(0, 0, 0, 0.1) 100%); background-image: -o-linear-gradient(top, transparent 95%, rgba(0, 0, 0, 0.1) 100%); background-image: -ms-linear-gradient(top, transparent 95%, rgba(0, 0, 0, 0.1) 100%); background-image: linear-gradient(top, rgba(0, 0, 0, 0.1) 95%, #cc0000 100%); -webkit-background-size: 100% 26px; -moz-background-size: 100% 26px; -ms-background-size: 100% 26px; background-size: 100% 26px; display: none; }
body.debug:after { display: block; pointer-events: none; opacity: 0; animation: fadeIn 400ms forwards; }

a { color: #437687; text-decoration: none; font-weight: 700; border-bottom: 2px dotted #8dc4d6;}
a:hover, a:focus, a:active {color: #8dc4d6; text-decoration: none; font-weight: 700; border-bottom: 0;}

.small, small { font-size: 13px; line-height: 2.0000em; padding-top: 2.0000em; padding-bottom: 0; letter-spacing: 0; }

.base, p, ul, ol, dl { font-size: 1.09em; line-height: 1.6250em; padding-top: 1.6250em; padding-bottom: 0; letter-spacing: -0.01em; }

.hidden {display:none;}

li > p { padding-top: 0; }

h5  { font-size: 0.9em; font-weight: 700; line-height: 1.6em; padding-top: 0; padding-bottom: 0;  text-transform: uppercase; }

h4 { font-size: 1.285em; font-weight: 300; line-height: 1.325em; padding-top: 1.325em; padding-bottom: 0; }

h3 { font-family: 'Source Sans Pro', sans-serif; font-size: 1.48em; font-weight: 700; line-height: 1.0000em; padding-top: 1.0000em; padding-bottom: 0; }

h2 { font-family: 'Source Sans Pro', sans-serif; font-size: 2.625em; font-weight: 700; line-height: 1.2381em; padding-top: 0.6190em; padding-bottom: 0; }

h1 { font-family: 'Source Sans Pro', sans-serif; font-size: 4rem; font-weight: 900; line-height: 1.1471em; padding-top: 0.3824em; padding-bottom: 0; text-transform: uppercase; }

h1, h2, h3, h4, h5, p { margin: 0; }

p + h3 {padding-top: 1.6em;}
h3 + p {padding-top: 0.8em;}

/*** HEADER (LEFT PAGE) STYLES ***/
.Header a, .Header a { color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 700;border-bottom: 0; }
.Header a:hover, .Header a:focus, .Header a:active {color: #000000;opacity: 0.4;text-decoration: none;border-bottom: 2px dotted currentColor;}
main { background: #fff; transition: background-color 600ms linear; display: block;}
main { color: #373638; }
@media (min-width: 1050px) { main { min-height:100vh; margin-left: 0; transform: translate3d(-100%, 0, 0); animation: slideMain 1100ms 600ms forwards cubic-bezier(0.83, 0, 0.148, 1); }
  .no-js main { margin-left: 50%; } }

.Header { padding: 26px 26px 52px; }
@media (min-width: 600px) { .Header { padding: 26px 52px 52px; } }
@media (min-width: 800px) { .Header { padding: 52px 78px 78px; } }
@media (min-width: 1050px) { .Header { text-align:right; padding: 0; position: fixed; height: 100%; width: 50%; top: 0; bottom: 0; left: 0; opacity: 0; animation: showCopy 0ms 1400ms linear forwards; } }

.ba.b--avatar {border-style: solid;border-width: 3px;}
.b--avatar {border-color: rgba(255, 255, 255, 0.95);}
.br-100 {border-radius: 100%;}
.h-avatar {height: 8rem;}
.w-avatar {width: 8rem;}
@media (max-width: 1049px) {
.h-avatar {height: 10rem;}
.w-avatar {width: 10rem;}
}
h1.header-bg-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    height: 100vh;
    position: fixed;
    top: 5%;
    left: 0;
    font-size: 17vh;
    font-weight: 900;
    z-index: -1;
    opacity: 0.2;
    color: #000;
}

        /* changing header content orientation and lang select location */
        @media (min-width: 1050px) { 
            .Header-content { position: absolute; top: 50%; transform: translateY(-50%); max-width: 60em; margin: 0 8vw 0 8.5vw; } 
        }
        @media (max-width: 599px) { 
        .Header-content {text-align: right;}
        a.lang {top: 3vh;left: 6vw;position: fixed;font-size: 2.5vh;}
        }
        @media (min-width: 599px) and (max-width: 1049px) {
        .Header-content {text-align: center;}
        }
        .Header-title { position: relative; padding-bottom: 0px; margin-bottom: 0.075em; text-transform: uppercase; }

        .Header-subtitle { font-weight: 400; margin-bottom: 2em;padding-top-top:0;display: inline-block;}
        @media (min-width: 1050px) { .Header-subtitle { opacity: 0; animation: fadeIn 800ms 500ms ease-in-out forwards;font-size: 1.175em;text-transform: uppercase;
            margin-bottom: 2em;margin-top: 0;padding-top: 0;max-width: 30em;display: inline-block; } }
        .Header-intro { padding: 0; margin-bottom: 26px; }
        @media (min-width: 1050px) { .Header-intro { opacity: 0; animation: fadeIn 800ms 550ms ease-in-out forwards; } }


        /* custom language switcher styles */
        @media (min-width: 600px) and (max-width: 1049px) {
          a.lang {top: 5vh;right: 7vw;position: fixed;font-size: 2.5vh;}
        }
        @media (min-width: 1050px) {
          a.lang {top: 4vh;right: 51vw;position: fixed;}
        }

        /* left page main inline nav */
        .mt4 {margin-top: 2rem;}
        .mb4 {margin-bottom: 2rem;}
        .pa0 {padding: 0;}
        .list {list-style-type: none;}
        .lh-copy {line-height: 1.5;}
        .mr2 {margin-right: .5rem;}
        .dib {display: inline-block;}
        .pa1 {padding: .25rem;}
        .tc {text-align: center;}

        .fw7 {font-weight:700}
        @media (max-width: 449px) {
        nav li.dib.mr2 {display: block;margin-bottom: 0.85em;}
        nav li.dib.mr2.fw7 {display: none;}
        }
        .current {border-bottom: 0 !important;pointer-events:none !important;text-decoration:line-through !important;color:currentColor; font-weight: 700;
            color: #000 !important;opacity: 0.4;}


/*** GENERAL RIGHT PAGE STYLES ***/
.ContentPage { list-style: none; padding: 26px;padding-bottom: 4em; }
@media (min-width: 600px) { .ContentPage { padding: 52px; } }
@media (min-width: 800px) { .ContentPage { padding: 26px 78px; } }
@media (min-width: 1050px) { .ContentPage { padding-top: 26px; padding-bottom: 26px; opacity: 0; animation: showContentPage 1800ms 1800ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; } }



/*** WRITINGS LIST STYLES ***/
.ba {border-style: solid;border-width: 1px;}

.b--black-30 {border-color: rgba(0, 0, 0, .3);}

.b--dotted {border-style: dotted;}

.bt-0 {border-top-width: 0;}

.br-0 {border-right-width: 0;}

.bl-0 {border-left-width: 0;}

.writings-list a {font-weight:700;}
.writings-list li:hover, .writings-list li:active, .writings-list li:focus {background-color: #f9f8fa;}
.i {font-style:italic}

.lh-copy {line-height: 1.5;}
.list {list-style-type: none;}

.pa3 {padding: 1rem;}

.pl0 {padding-left: 0;}

.pv3 {padding-top: 1rem;padding-bottom: 1rem;padding-left: 1rem;}

.center {margin-right: auto;margin-left: auto;}

@media screen and (min-width: 30em) {
    .pa5-ns {padding: 4rem;}
}


/*** SUPER SIMPLE FLEXBOX GRID ***/
h3 + .grid {margin-top: 1.2em;}

.grid-row {display: flex;flex-direction: column;}

.grid-item {flex: 1;padding: 0.75em 0.75em 0.75em 1em;}
.grid-item > p {padding-top:0;padding-bottom:1.325em;}
.grid-item.title {width: 30%;flex: inherit;}

@media all and ( min-width: 960px ) {
  .grid-row--lg {flex-direction: row;}
}
@media all and ( max-width: 959px ) {
  .grid-item.title {width: initial;    flex: 1;
}
}

/* SOCIAL LINKS */
 .social-icons a {border-bottom:0 !important;text-decoration: none;}
 .h-social {height: 1.2rem;}
 .w-social {width: 1.2rem;}
 .mr3 {margin-right: 1rem;}

@media screen and (min-width: 30em) {
 .ph5-ns {padding-left: 4rem;padding-right: 4rem;}
}

.siteborder{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    border: 1em solid #1F1E1D;
    -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
@media (max-width: 599px) { 
.siteborder{border: 7px solid #1F1E1D;}
}


/*** KEYFRAME ANIMATIONS ***/
@keyframes fadeIn { 0% { transform: translateY(-6px); }
  25% { transform: translateY(0); }
  100% { opacity: 1; } }
@keyframes showCopy { 100% { opacity: 1; } }
@keyframes slideMain { 10% { margin-left: 0; }
  100% { margin-left: 50%; transform: translate3d(0, 0, 0); } }
@keyframes showContentPage { 100% { opacity: 1; } }